@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Franklin:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import './normolaze.css';
@import './vars.scss';

body {
    font-family: 'Lato', sans-serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Poppins', sans-serif;
}